{% extends 'index.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Agregar Paciente</h3>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('pacientes.agregar_paciente') }}" method="post">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" name="nombre" class="form-control" placeholder="Ingrese el nombre"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Apellido</label>
                                <input type="text" name="apellido" class="form-control"
                                    placeholder="Ingrese el apellido" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Dirección Casa</label>
                                <input type="text" name="direccionCasa" class="form-control"
                                    placeholder="Ejemplo: Calle 123" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Dirección Calle</label>
                                <input type="text" name="direccionCalle" class="form-control"
                                    placeholder="Ejemplo: Av. Principal" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Dirección Ciudad</label>
                                <input type="text" name="direccionCiudad" class="form-control"
                                    placeholder="Ingrese la ciudad" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success"> Agregar Paciente</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/" class="btn btn-danger"> Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
 {% endblock %}