{% extends 'index.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Agregar Historial</h3>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('pacientes.agregar_historial') }}" method="post">
                            <div class="mb-3">
                                <label class="form-label">Fecha</label>
                                <input type="date" name="fecha" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Diagnostico</label>
                                <input type="text" name="diagnostico" class="form-control"
                                    placeholder="El paciente tiene gripe, tos" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Observaciones</label>
                                <input type="text" name="observaciones" class="form-control"
                                    placeholder="El paciente a tenido leves convulsiones" required>
                            </div>                        
                            <div class="mb-3">
                                <label class="form-label">Id del Paciente</label>
                                <input type="number" name="idPaciente" class="form-control"required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success"> Agregar Paciente</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/" class="btn btn-danger"> Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
 {% endblock %}