{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">Historial Medio del Paciente</h1>

    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover shadow-sm bg-white">
            <thead class="table-primary">
                <tr class="text-center">                    
                    <th>Fecha</th>
                    <th>Diagnosticos</th>
                    <th>Observaciones</th>
                    <th>Paciente</th> 
                    <th>Acciones</th>                    
                </tr>
            </thead>
            <tbody>
                {% for Paciente in Historial %}
                <tr class="text-center">                    
                    <td>{{ Paciente.fecha }}</td>
                    <td>{{ Paciente.diagnostico }}</td>
                    <td>{{ Paciente.observaciones }}</td>
                    <td>{{ Paciente.idPaciente }}</td>                    
                    <td>
                        <a href="{{ url_for('pacientes.editar_paciente', id=Paciente.idPaciente) }}"
                            class="btn btn-warning btn-sm">Editar</a>
                        <a href="{{ url_for('pacientes.eliminar_paciente', id=Paciente.idPaciente) }}"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este paciente?');">
                            Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}