{% extends 'index.html' %}

{% block content %}

<!-- Contenido Principal -->
<div class="container mt-5">
    <h1 class="text-center text-primary">Telefono del Restaurante</h1>

    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover shadow-sm bg-white">
            <thead class="table-primary">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for telefon in telefonos %}
                <tr class="text-center">
                    <td>{{ telefon.id }}</td>
                    <td>{{ telefon.telefono }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}