{% extends 'index.html' %}

{% block content %}

<!-- Contenido Principal -->
<div class="container mt-5">
    <h1 class="text-center text-primary">Telefono del Paciente</h1>

    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover shadow-sm bg-white">
            <thead class="table-primary">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Telefono</th>
                    <th>ID del Paciente</th>
                </tr>
            </thead>
            <tbody>
                {% for Paciente in Telefono %}
                <tr class="text-center">
                    <td>{{ Paciente.idTelefono }}</td>
                    <td>{{ Paciente.numero }}</td>
                    <td>{{ Paciente.idPaciente }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}